<template name="firstSection">
    <div class="section grey lighten-5 text-grey">
  	<br>

  	<div class="row">
  		<div class="col s12 m10 offset-m1">

  			<div class="col m9">
					<h3 class=""><span class="deep-blue-grey text-darken-2">Resist the urge to surf</span></h3>
					<h4 class="thin">Oliver will make sure you <i class="reg">never</i> get distracted</h4>
  				<h5 class="thin">So the next time you want to<br><br> <span class="reg under-dot typed"></span>
  					<br>
  					<br>
  				<span class="light">You Won't</span></h5>
  			</div>

  		</div>
  	</div>
  	<br>
    </div>
</template>
