<template name="landingHero">
	<div id="hero" class="section white-trans">
		<div class="row"></div>
		<div class="row">
			<div class="col s12 m10 offset-m1 l8 offset-l2">
				<div class="col s12 l4 center">
					<img class="responsive-img" src="img/oliver.png" />
				</div>
				<div class="col s12 l8 center-small ">
					<h2 class="thin">Meet
						<span class="under-dot light">Oliver</span>
					</h2>
					<h4 class="thin">He helps you stay on task.</h4>
				</div>
			</div>
		</div>
	</div>
</template>
