<head>
	<script src="/js/typed.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<template name="landingTemplate">
 	{{> landingHero}}
<ul class="section2">
	{{> earlybird}}
</ul>
	<ul class="section1">
	{{> landingBot}}
</ul>
<ul class="section1">
	{{> earlybird}}
</ul>
</template>

<template name="landingBot">
{{> firstSection}}
 {{> secondSection}}
  {{> thirdSection}}
</template>