<template name="thirdSection">
      <div class="section white">
   	     <div class="white-text accent-custom-1">
   	<br>
   	<div class="row">
   		<li>
   		<div class="col s12 m10 offset-m1">
   			<div class="col m9 ">
   				<h3 class="">Oliver helps you engineer focus</h3>
   				<h5 class="thin">Oliver  <br> - analyzes your schedule to find inefficiencies <br> - automates daily tasks <br> - finds innovative ways to be more effective </h5>
   			</div>
   		</div>
   		</li>
   	</div>
   	<br>
     </div>
    </div>
</template>