<head>
	<script src="js/typed.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<template name="landingTemplate">
 	{{> landingHero}}
<ul class="section2">
	{{> earlybird}}
</ul>
	<ul class="section1">
	{{> landingBot}}
</ul>
<ul class="section1">
	{{> earlybird}}
</ul>
</template>

<template name="landingNav">

</template>

<template name="landingHero">
	<div id="hero" class="section white-trans">
	<div class="row">
	</div>
	<div class="row">
		<div class="col s12 m10 offset-m1 l8 offset-l2">
			<div class="col s12 l4 center">
				<img class="responsive-img"  src="img/oliver.png" />
			</div>
			<div class="col s12 l8 center-small ">
				<h2 class="thin">Meet <span class="under-dot light">Oliver</span></h2>
				<h4 class="thin">He helps you get more done by keeping you on task.</h4>
			</div>
		</div>
	</div>
</div>
</template>





<template name="landingBot">
	
    <div class="section grey lighten-5 text-grey">
  	<br>

  	<div class="row">
  		<div class="col s12 m10 offset-m1">

  			<div class="col m9">
					<h3 class="thin">Oliver will make sure you <i class="reg">never</i> get distracted</h3>
  				<h5 class="thin">So the next time you want to <span class="reg under-dot typed"></span>
  					<br>
  					<br>
  				<span class="light">You Won't</span></h5>
  			</div>

  		</div>
  	</div>
  	<br>
    </div>
	
  <div class="section accent-custom-2">
	<br>
	<div class="row">
		<li>
		<div class="col s12 m10 offset-m1 right-align">
			<div class="col m9 offset-m3">
			<h3 class="thin"> And Oliver will help you prioritize your tasks <br> and manage your time</h3><br>
			<h5 class="thin">(With the organization and time-management apps you already use)<br></h5>
			</div>
		</div>
		</li>
	</div>
	<br>
  </div>
  
 
  
  <div class="section white-text accent-custom-1">
	<br>
	<div class="row">
		<li>
		<div class="col s12 m10 offset-m1">
			<div class="col m9 ">
				<h3 class="">Oliver will even find ways to automate your life</h3>
				<h4 class="thin">Oliver analyzes your schedule and comes up with innovative ways to save you time!</h4>
			</div>
		</div>
		</li>
	</div>
	<br>
  </div>
 
</template>

<template name="earlybird">
    <div class="section accent-custom-3">
  	<br>
  	<div class="row">
		<li>
  		<div class="col s12 m10 offset-m1">
  			<div class="col m12">
  				<h4 class="center">Oliver is coming soon. Be the first to engineer your focus and get more done.</h4>
				
  			    <form action="#">
  			      <div class="input-field">
  			        <input id="email" type="email" class="validate col s12 m9 earlybird">
  					<label for="email" data-error="wrong" data-success="right">Email</label>
  			        <div class="btn col s12 m3 btn-custom">
  			          <span class="text-adj-btn">Try Oliver</span>
  			        </div>
  			      </div>
  			    </form>
			
  			</div>
  		</div>
		</li>
  	</div>
  	<br>
    </div>
</template>